@font-face {
    font-family: AppleGaramond;
    src: url('AppleGaramond.ttf');
}
@font-face{
    font-family: GeoSans;
    src: url('GeosansLight.ttf');
}
@font-face{
    font-family: KenyanCoffee;
    src: url('kenyan\ coffee\ rg.ttf');
}